<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mame.flappy"
    android:versionCode="5"
    android:versionName="1.0.4" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <permission
        android:name="com.mame.flappy.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.mame.flappy.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".FlappyApplication"
        android:allowBackup="true"
        android:icon="@drawable/flappy_app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.mame.flappy.LcomBaseActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.mame.flappy.ui.WelcomeActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mame.flappy.ui.LoginActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/str_login_name" >
        </activity>
        <activity
            android:name="com.mame.flappy.ui.FriendListActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/str_friendlist_title" >
        </activity>
        <activity
            android:name="com.mame.flappy.ui.CreateAccountActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/str_create_account_title" >
        </activity>
        <activity
            android:name="com.mame.flappy.ui.CreateAccountCompleteActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/str_create_account_title" >
        </activity>
        <activity
            android:name="com.mame.flappy.ui.ConversationActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/str_conversation_title" >
        </activity>
        <activity
            android:name="com.mame.flappy.ui.StartNewConversationActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/str_invitation_title" >
        </activity>
        <activity
            android:name="com.mame.flappy.ui.ContactListActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/str_contactslist_title" >
        </activity>
        <activity
            android:name="com.mame.flappy.ui.HelpActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/str_help_title" >
        </activity>
        <activity
            android:name="com.mame.flappy.ui.ContactToUsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/str_contact_us_title" >
        </activity>
        <activity
            android:name="com.mame.flappy.ui.FlappyAboutActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/str_flappy_about_main_itle" >
        </activity>
        <activity
            android:name="com.mame.flappy.ui.SettingActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/str_flappy_setting_title" >
        </activity>

        <receiver
            android:name="com.mame.flappy.server.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.mame.flappy" />
            </intent-filter>
        </receiver>

        <service android:name="com.mame.flappy.server.GCMIntentService" />

        <provider
            android:name="com.mame.flappy.db.DatabaseContentProvider"
            android:authorities="com.mame.flappy.db"
            android:exported="false"
            android:syncable="true" />

        <receiver
            android:name="com.mame.flappy.notification.NewMessageNotificationReceiver"
            android:process=":remote" />

        <service android:name="com.mame.flappy.notification.NewMessageNotificationService" >
        </service>
    </application>

</manifest>